/*footer desktop*/
footer {
    background-color: $color-grey-dark;
    width: 100%;
    
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    top: 1000px;
    & h3 {
        @include police1;
        color: $color-white;
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
}
.enchante {
    /*footer note enchantée desktop*/
    top: 1100px;
}
footer ul {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-bottom: 30px;
    & li {
        list-style-type: none;
        margin-left: -40px;
        @include police2;
        width: 20%;
        height: auto;
        font-size: 23px;
        & a {
            text-decoration: none;
            color: $color-white;
        }
    }
}
footer ul {
    display: flex;
    justify-content: space-between;
    & i {
        width: 12px;
        font-size: 18px;
        margin-right: 10px;
    }
}

/*footer mobile*/
@media screen and (max-width: map-get($breakpoint, mobile)) {
    
    footer {
        top: 1460px;
        & h3 {
            font-size: 20px;
            margin-top: 10px;
        }
    }
    .enchante {
        top: 1560px;
    }
    footer ul {
        flex-direction: column;
        margin-bottom: 20px;
        & li {
            width: 90%;
            font-size: 18px;
            margin-bottom: 10px;
        }
        & i {
            font-size: 16px;
        }
    }
}

/*footer version tablet */
@media (min-width: map-get($breakpoint, minitablet)) and (max-width: map-get($breakpoint, maxtablet)) {
    
    footer {
        top: 1900px;
        & h3 {
            font-size: 32px;
        }
    }
    .enchante {
        /*footer note enchantée tablet*/
        top: 2030px;
    }
    footer ul {
        flex-wrap: wrap;
        justify-content: space-around;
        & li {
            width: 40%;
            font-size: 25px;
        }
        & i {
            font-size: 20px;
        }
    }
}