header{
    overflow: hidden;
    height: 500px;
}

.banner{
    width: 100%;
    background-color: $color-white;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    z-index: 1;

    & i {
        font-size: 40px;
        color: black;
        margin-left: 20px;
    }

    & img { 
        margin: auto;
    }
}

@media screen and (max-width: map-get($breakpoint, mobile)) {
    /*header*/

    .logo {
        width: 165px;
    }
    .banner {
        & i {
            font-size: 20px;
        }
    }
}
@media (min-width: map-get($breakpoint, littletablet)) and (max-width: map-get($breakpoint, bigtablet)) {
    /*header*/
    
    .logo {
        width: 250px;
    }
    .banner {
        & i {
            font-size: 30px;
        }
    }
}
