
/*image destop*/

.img_menu{
    width: 100%;
    position: relative;
    bottom: 300px;
}

.note{
        bottom: 700px;
        position: relative;
    }

/*images mobil*/

@media screen and (max-width:map-get($breakpoint , mobile )){
    .img_menu{
        width: 110%;
        top: 70px;
        right: 10px;
    
    }
    .note{
        top: -10px;
        height: 400px;
    }

}

/*image tablet*/ 

@media (min-width: map-get($breakpoint, minitablet)) and (max-width: map-get($breakpoint, maxtablet)) {
    .img_menu{
        position: relative;
        top: 0px;
    }

    .note{
        top: -270px;
    }

}