/*section*/
.corps {
    width: 100%;
    background-color: $color-grey-light;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 430px;
}
.titre {
    width: 100%;
    display: flex;
    align-items: center;
    margin: {
        top: 30px;
        bottom: 40px;
        left: 20px;
    }
    & h1 {
        width: 100%;
        height: 40px;
        @include police1;
        font: {
            weight: bold;
            size: 35px;
        }
    }
    & .far {
        font-size: 35px;
        position: absolute;
        right: 70%;
        z-index: 1;
    }
    & .fas {
        font-size: 35px;
        position: absolute;
        right: 70%;
        display: none;
    }
}
.repas {
    width: 30%;
    @include police2;
    margin-bottom: 10px;
    margin-left: 20px;
    & h2 {
        width: 65px;
        font-size: 28px;
        border-bottom: 4px solid $color-tertiary;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }
    & .navbar {
        overflow: hidden;
        margin-bottom: 30px;
    }
    & li {
        list-style-type: none;
        margin-bottom: 15px;
        width: 90%;
        height: 75px;
        @include shadow(2px, 2px, 6px, $color-grey-dark);
        border-radius: 15px;
        padding-left: 30px;
    }
}
.text {
    height: 65px;
    display: flex;
    flex-direction: column;
    &_plat {
        font-weight: bold;
        &--modifier {
            font-weight: bold;
            margin-right: 15px;
            padding-right: 10px;
        }
    }
    & p {
        margin-top: 10px;
    }
}
.text_2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media screen and (max-width: map-get($breakpoint, mobile)) {
    /*section*/
    .corps {
        border-radius: 30px 30px 0 0;
        top: 260px;
    }
    .titre {
        width: 90%;
        margin-left: 10px;
        margin-bottom: 10px;
        & h1 {
            font-size: 25px;
            width: 250px;
        }
        & .far,
        .fas {
            font-size: 22px;
            right: 11%;
        }
    }
    .repas {
        width: 96%;
        margin: 0;
        margin-bottom: 10px;
        & h2 {
            font-size: 18px;
            width: 40px;
            margin: {
                left: 10px;
                bottom: 10px;
                top: 10px;
            }
        }
        & .navbar {
            width: 100%;
            margin: 0;
            & .text {
                width: 90%;
                margin: 10px 0px 15px 15px;
                padding-left: 10px;
                &_plat {
                    font-size: 15px;
                    margin-top: 15px;
                    &--modifier {
                        font-size: 14px;
                        width: 5%;
                        margin-right: 15px;
                    }
                }
            }
            & p {
                font-size: 13px;
            }
        }
    }
}
@media (min-width: map-get($breakpoint, littletablette)) and (max-width: map-get($breakpoint, bigtablette)) {
    /*section*/
    .corps {
        top: 450px;
        border-radius: 15px;
        padding: 0;
    }
    .titre {
        & h1 {
            font-size: 30px;
            margin-left: 30px;
        }
        & .far,
        .fas {
            font-size: 30px;
            right: 52%;
        }
    }
    .repas {
        width: 100%;
        & h2 {
            font-size: 25px;
            margin-left: 30px;
            margin-bottom: 20px;
        }
        & .navbar {
            width: 95%;
            &.text {
                margin: auto;
                margin-bottom: 25px;
                &_plat {
                    margin-top: 10px;
                }
                & p {
                    font-size: 20px;
                }
            }
        }
    }
}
