/*animation coeur */

.far:hover{
    animation: heart_1 400ms both ease-in-out ;
}

.far{
    &:hover ~ .fas {
        display: block;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        color: transparent;
        animation: animation-heart 800ms ease-in-out;
    }
}

@keyframes heart_1{
    100%{
        opacity: 0%;
    }
    75%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    25%{
        opacity: 0.75;
    }
    0%{
        opacity: 1;
    }
}

@keyframes animation-heart{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/*animation menu corps */ 

.navbar{
    transform-origin: bottom;
    animation: navbar 2000ms both 500ms;
}

@keyframes navbar{
    0%{
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

.anim{
    animation: anim-liste both;
    transform-origin: bottom;
    animation-duration: 800ms;

    &_2{
        animation: anim-liste both;
        transform-origin: bottom;
        animation-duration: 1000ms;
    }

    &_3{
        animation: anim-liste both;
        transform-origin: bottom;
        animation-duration: 1200ms;
    }

    &_4{
        animation: anim-liste both;
        transform-origin: bottom;
        animation-duration: 1400ms;
    }
}

@keyframes anim-liste{
    0%{
        transform: translateY(-700%);
        opacity: 0;
    }

    80%{
        transform: translateY(-10%);
        opacity: 0.8;
    }

    90%{
        transform: translateY(-5%);
        opacity: 0.9;
    }

    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

/*animation par ligne*/

.valide {
    opacity: 0;
    width: 0px;
    height: 100%;
    background-color: $color-tertiary;
    transition: width 1s;
}

.valide_ok{
    transform: rotate(0deg);
    transition: transform 1s;
}

.clic{
    display: flex;
    padding-left: 0px;

}
.clic:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    & .valide {
        display: block;
        width: 60px;
        opacity: 1;
    }
}

.clic:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    & .valide_ok {
            display: flex;
            justify-content: center;
            line-height: 80px;
            font-size: 22px;
            color: $color-white;
            transform: rotate(360deg);

        }
    }
.clic:hover {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    & .text_2 {
        margin-right: 10px;
        &_couper {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-right: 15px;
            max-width: 130px;
        }
    }
}

.clic:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    & .text_plat {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &_prix{
            padding: 0px;
            padding-right: 20px;
            margin-right: 0px;
        }
    }
}




