/*animation coeur */

.far:hover{
    animation: heart_1 400ms both ease-in-out ;
}

.far{
    &:hover ~ .fas {
        display: block;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        color: transparent;
        animation: animation-heart 800ms ease-in-out;
    }
}

@keyframes heart_1{
    100%{
        opacity: 0%;
    }
    75%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    25%{
        opacity: 0.75;
    }
    0%{
        opacity: 1;
    }
}

@keyframes animation-heart{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/*animation menu corps */ 

.navbar{
    transform-origin: bottom;
    animation: navbar 2000ms both 500ms;
}

@keyframes navbar{
    0%{
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

.anim{
    animation: anim-liste both;
    transform-origin: bottom;
    animation-duration: 800ms;

    &_2{
        animation: anim-liste both;
        transform-origin: bottom;
        animation-duration: 1000ms;
    }

    &_3{
        animation: anim-liste both;
        transform-origin: bottom;
        animation-duration: 1200ms;
    }

    &_4{
        animation: anim-liste both;
        transform-origin: bottom;
        animation-duration: 1400ms;
    }
}

@keyframes anim-liste{
    0%{
        transform: translateY(-700%);
        opacity: 0;
    }

    80%{
        transform: translateY(-10%);
        opacity: 0.8;
    }

    90%{
        transform: translateY(-5%);
        opacity: 0.9;
    }

    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

/*animation par ligne*/

.valide {
    display: none;
}
.clic:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    & .valide {
        display: block;
        width: 60px;
        height: 100%;
        background-color: $color-tertiary;
        animation-name: valide;
        animation-duration: 1000ms;
        & .valide_ok {
            display: flex;
            justify-content: center;
            line-height: 80px;
            font-size: 22px;
            animation: ok 600ms 100ms;
            color: $color-white;
        }
    }
    & .text_2 {
        animation: prix 800ms forwards ease-in-out;
        margin-right: 10px;
        &_couper {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            animation-duration: 800ms;
            animation-fill-mode: forwards;
            transition-timing-function: ease-in-out;
            margin-right: 15px;
        }
    }
    & .text_plat {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        animation: plat 800ms forwards ease-in-out;
        &_prix{
            padding: 0px;
            margin-right: 0px;
        }
    }
}

@keyframes valide {
    0% {
        transform: translateX(100%);
    }
}
@keyframes ok {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes plat {
    0% {
        width: 110%;
    }
    100% {
        width: 75%;
    }
}

@keyframes prix {
    0% {
        width: 380px;
    }
    100% {
        width: 320px;
    }
}

/*animation par ligne version mobile*/ 

@media screen and (max-width: map-get($breakpoint, mobile)) {
    ._clic:hover {                                  
        & .text_2 {
            animation-name: prix-mobile;
        }
    }
    @keyframes prix-mobile {
        0% {
            width: 300px;
        }
        100% {
            width: 220px;
        }
    }
}

/*animation par ligne version tablet*/ 

@media (min-width: map-get($breakpoint, minitablet)) and (max-width: map-get($breakpoint, maxtablet)) {
    ._clic:hover {                                
        & .text_2 {
            animation-name: prix-tablet;
        }
    }
    @keyframes prix-tablet {
        0% {
            width: 650px;
        }
        100% {
            width: 570px;
        }
    }
}