  
.button {
    @include police2;
    width: 200px;
    height: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    border-radius: 35px;
    color: $color-white;
    font-size: 20px;
    line-height: 40px;
    background: linear-gradient($color-secondary, $color-primary);
    text-decoration: none;
    text-align: center;
    &:hover{
        opacity: 0.8;
    }
}
@media screen and (max-width: map-get($breakpoint, mobile)) {
    .button {
        width: 180px;
        height: 50px;
        font-size: 18px;
        line-height: 50px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}
@media (min-width: map-get($breakpoint, minitablet)) and (max-width: map-get($breakpoint, maxtablet)) {
    .button {
        margin: auto;
        margin-bottom: 60px;
        width: 300px;
        height: 50px;
        line-height: 50px;
        font-size: 25px;
    }
}