.far:hover{
    animation: heart_1 600ms both ease-in-out;
}
.far{
    &:hover ~ .fas {
        display: block;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        color:transparent;
        animation: animation-heart 800ms ease-in-out;
    }
}
@keyframes heart_1{
    100%{
        opacity: 0;
    }
    75%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.50;
    }
    25%{
        opacity: 0.75;
    }
    0%{
        opacity: 1;
    }
}
@keyframes animation-heart{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

$spinner: $color-primary;
$background:$color-secondary;
$size: 100px;

.spinner {
  position:fixed;
  top: 50%;
  left: 47%;
  width: $size;
  height: $size;
  animation: spinner 1s  linear infinite ;
 
  
 
  
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .spinner-inner-1 {
    background: linear-gradient(to right, rgba($spinner,0) 0%,rgba($spinner,0) 50%,$spinner 51%);
  }
  
  .spinner-inner-2 {
    background: linear-gradient(to top, rgba($background,0) 0%,$background 100%);
  }
  
  .spinner-inner-3 {
    $offset: $size * 0.1;
    top: $offset;
    left: $offset;
    width: $size - ($offset * 2);
    height: $size - ($offset * 2);
    background: $background;
  }
}

@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  

}