@mixin police1 {
    font-family: "Shand", "comic sans ms", sans-serif;
    font-style: normal;
    font-weight: normal;
}
@mixin police2 {
    font-family: "Roboto", "trebuchet MS", sans-serif;
}
@mixin titreh2 {
    font-size: 20px;
}
@mixin shadow($x, $y, $blur, $color) {
    box-shadow: $x $y $blur $color;
}